[submodule "external/design_patterns"]
	path = external/design_patterns
	url = https://github.com/senghoo/golang-design-pattern.git
	branch = master
[submodule "external/introduction"]
	path = external/introduction
	url = https://github.com/0voice/Introduction-to-Golang.git
	branch = main
[submodule "external/standards"]
	path = external/standards
	url = https://github.com/golang-standards/project-layout.git
	branch = master
